*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #fff;
    border-radius: 0px;
    text-align: center;
    padding: 10px;
}
.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
}
.menu1 ul{
    list-style-type: none;
}
.menu1 ul li{
    display: inline;
}
.menu1 ul li a{
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    color: black;
}
.stiker{
    padding: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 .navbar ul {
    overflow: hidden;
    display: flex;
    margin-right: 400px;
} 
.navbar li{
    float: left;
    list-style: none;
    margin: 8px 8px;
    display: flex;
    justify-content: center;

}
.menu {
    padding-left: 445px;

}
.navbar li a{
    padding: 8px 10px;
    text-decoration: none;
    color: black;
    text-size-adjust: 10%;
    text-align: center;
}
.stiker i{
    padding: 10px;
    margin-bottom: 20px;
}
.search button{
    float: right;
    color: black;
    padding: 9px 45px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
    font-size: medium;
    cursor: pointer;
    margin-bottom: 20px;
}    
.navbar ul i{
    padding: 20px;
    position: absolute;
    right: 6%;
}
.container{
    display: flex;
    justify-content: space-around;
}
.body{
    font-family: 'Poppins', sans-serif;

}
.j1{
    margin-left: 50px;
}
img{
    margin-bottom: 20px;
}