*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #fff;
    border-radius: 0px;
    display: flex;
    text-align: center;
    padding: 15px;
}
 .navbar ul{
    overflow: hidden;
    display: flex;  
} 
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 0px;
    margin-top: 20px;
    margin-left: 20px;
    
}
.menu {
    padding-left: 305px;
    margin-right: 102px;
}
.navbar li a{
    padding: 6px 0px;
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
.search{
    margin-left: 25vh;
    margin-top: 20px;
}
.search i{
    margin-right: 100px;
}
.menu1{
    margin-left: 30px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.body{
    font-family: 'Poppins', sans-serif;

}
.img1{
    margin-right: 60px;
    margin-top: 10px;
}