*{
    margin: 0px;
    padding: 0px;
}
.nevi{
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    text-align: center;
    text-size-adjust: 10px;
    text-decoration: dotted;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px;
    margin-left: 10px;
    flex-direction: column;
    cursor: pointer;
}
button{
    padding: 15px 70px;
    border-radius: 90px;
    background-color: rgb(139, 165, 87);
    
}
body{
    background-color: rgb(174, 216, 216);
}

.cont{
    margin-top:20px;
}