*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #fff;
    border-radius: 0px;
    text-align: center;
    padding: 8px;
}
.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px;
    margin-left: 80px;
    margin-right: 80px;
}
.menu1 ul{
    list-style-type: none;
}
.menu1 ul li{
    display: inline;
}
.menu1 ul li a{
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    color: black;
}
.stiker{
    padding: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 .navbar ul{
    overflow: hidden;
    display: flex;
} 
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 8px;
    display: flex;
    justify-content: center;
    

}
.menu {
    padding-left: 480px;
    margin-right: 365px;

}
.navbar li a{
    padding: 8px 10px;
    text-decoration: none;
    color: black;
    text-size-adjust: 10%;
}
.stiker i{
    padding: 10px;
}
input[type=text] {
    width: 75%;
    height: 12px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 13px;
    background-color: white;
    background-image: url('search.svg');
    background-position: 160px 7px; 
    background-repeat: no-repeat;
    padding: 8px;
    background-size: 15px;
    margin-top: 20px;
    margin-right: 60px;
    margin-bottom: 25px;
    opacity: 50%;
    filter: drop-shadow(20%)
  }
  .container{
    display: flex;
    justify-content: space-around;
}
.body{
    font-family: 'Poppins', sans-serif;

}
.img1{
    margin-bottom: 10px;
}
.abc{
    margin-right: -28px;
}