*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #fff;
    border-radius: 0px;
    text-align: center;
    padding: 10px;

}
.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0px;
    margin-left: 80px;
    margin-right: 100px;
}
.menu1 ul{
    list-style-type: none;
}
.menu1 ul li{
    display: inline;
}
.menu1 ul li a{
    text-decoration: none;
    padding: 15px;
    margin-left: -15px;
    color: black;
}
.stiker{
    padding: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 .navbar ul{
    overflow: hidden;
    display: flex;
    margin-right: 90px;
} 
.navbar li{
    float: left;
    list-style: none;
    margin: 6px 6px;
    display: flex;
    justify-content: center;
}
.menu {
    padding-left: 920px;
    margin-top: -45px;

}
.navbar li a{
    padding: 8px 10px;
    text-decoration: none;
    color: black;
    text-size-adjust: 2%;
}
.stiker i{
    padding: 10px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.img1{
    padding-right: 162vh;
    margin-top: 15px;
}
.body{
    font-family: 'Poppins', sans-serif;

}
