*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-around;
}
.navbar{
    background-color: #fff;
    border-radius: 0px;
    display: flex;
    text-align:  center;
    padding: 15px;
}
 .navbar ul{
    overflow: hidden;
    display: flex;
    margin-right: 80px;
} 
.navbar li{
    float: left;
    list-style: none;
    margin: 15px 5px;
    
}
.menu {
    padding-left: 470px;
}
.navbar li a{
    padding: 6px 9px;
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    
  }
  input[type=text] {
    width: 28%;
    height: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url('search.svg');
    background-position: 155px 3px; 
    background-repeat: no-repeat;
    padding: 8px;
    background-size: 15px;
    margin-top: 12px;
  }
  
.img1{
    margin-left: 50px;
}
    

.body{
    font-family: 'Poppins', sans-serif;

}