* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.left {
    position: initial;
    background-color: rgb(199, 188, 188);
}

.right {
    position: initial;
}

.Contact,
.Skills,
.Hobbies,
.title,
.Experience,
.Education,
.hed,
.skl {
    margin-left: 30px;
}
.image{
    margin-top: 20px;
}
.hed{
    margin-top: 20px;
}
.name{
    margin-left: 56rem;
    margin-top: 20px;
}
.name i {
    margin-right: 10px;
}
.Summary{
    margin-top: 40px;
    color: white;
    background-color: rgb(33, 24, 24);
    padding: 3rem;
    height: 13rem;
}
.Contact{
    padding: 20px;
}
.Skills{
    padding: 20px;
}
.skl{
    padding: 20px;
}
.skl ul li {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
  }
  
  .skl ul li .skill_name {
    width: 40%;
  }
  
  .skl ul li .skill_progress {
    width: 40%;
    margin: 0 5px;
    height: 10px;
    background: gray;
    position: relative;
  }
  
  .skl ul li .skill_per {
    width: 30%
  }
  
  .skl ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: black;
  }
 .right .resume_work ul,
.right  .resume_education ul {
  padding-left: 100px;
  overflow: hidden;
  margin-top: 20px;
  
}

 .right  ul li {
  position: relative;
  
}

 .right  ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 1.5rem;
}

 .right  ul li .info {
  margin-bottom: 20px;
}

 .right  ul li:last-child .info {
  margin-bottom: 0;
}

 .right  .resume_work ul li:before,
 .right  .resume_education ul li :before {
  content: "";
  position: absolute;
  top: 6px;
  left: -17px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid black;
}

  .resume_work ul li:after,
  .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -15px;
  width: 3px;
  height: 115px;
  background: black;
}
.resume_item{
    padding: 3rem;
}
