* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 254, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: 0.5fr 4fr;
}

.left {
  position: initial;
  background-color: rgb(199, 188, 188);
}

.right {
  position: initial;
}

.Contact,
.Skills,
.Hobbies,
.title,
.Experience,
.Education,
.hed,
.skl {
  margin-left: 30px;
}

.hed {
  margin-top: 20px;
}

/* .name {
  margin-left: 56rem;
  margin-top: 20px;
  position: relative;
} */

.name i {
  margin-right: 10px;
}

.Summary {
  margin-top: 2rem;
  color: white;
  background-color: rgb(33, 24, 24);
  padding: 3rem;
  height: auto;
}

.contact {
  padding: 10px;
}

/* 
.Skills {
  padding: 10px;
} */
/* 
.skl {
  padding: 10px;
}

.skl ul li {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}

.skl ul li .skill_name {
  width: 40%;
}

.skl ul li .skill_progress {
  width: 40%;
  margin: 0 5px;
  height: 10px;
  background: gray;
  position: relative;
}

.skl ul li .skill_per {
  width: 30%
}

.skl ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: black;
} */

.right .resume_work .list,
.right .resume_education .list {
  padding-left: 50px;
  overflow: hidden;
  margin-top: 20px;

}

.right .list .lis {
  position: relative;

}

.right .list .lis .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.right .list .lis :last-child .info {
  margin-bottom: 0;
}

.right .resume_work .list .lis :before,
.right .resume_education .list .lis :before {
  content: "";
  position: absolute;
  top: 6px;
  left: 103px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid black;
}

.resume_work .list .lis:after,
.resume_education .list .lis:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 105px;
  width: 3px;
  height: 150px;
  background: black;
}

.contacte {
  padding: 20px;
  padding-left: 40px;
}

.Porsanal {
  padding: 20px;
  padding-left: 40px;
}

.resume_item1 {
  padding: 40px;
}

.r {
  margin-left: 8rem;
  margin-top: -1rem;
}

.semi-bold {
  margin-left: 8rem;
}

.work {
  margin-top: 150px;
}

.work-desc h2 {
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

.work-desc p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 12px;

}

.box1 {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 1fr;
  gap: 12px;
}

.box-in {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  background-color: hsl(240deg 4% 9.8%);
  box-sizing: border-box;
  margin-bottom: 25px;
}

.box-img {
  height: 170px;
  width: 170px;
  border-radius: 7px;
}
