*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-around;
}

.navbar{
    background-color: #fff;
    border-radius: 0px;
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: space-around;
}
 .navbar ul{
    overflow: hidden;
    display: flex;
    margin-right: 50px;
    
} 
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 20px;
    
}
.body{
    font-family: 'Poppins', sans-serif;

}
.menu {
    padding-left: 500px;
}
.navbar li a{
    padding: 6px 6px;
    text-decoration: none;
    color: black;
}
.search button{
    float: right;
    color: black;
    padding: 9px 45px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff; 
    font-size: medium;
    cursor: pointer;
    /* border: none; */
    /* background-color: #e2c054d9; */
    
    
}
    .img1{
        margin-left: 50px;
    }