*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #fff;
    border-radius: 0px;
    display: flex;
    text-align: center;
    padding: 10px;
    border: 0.2px solid;

}
 .navbar ul{
    overflow: hidden;
    display: flex;
} 
.navbar li{
    float: left;
    list-style: none;
    margin: 20px 30px;
    
}
.menu {
    padding-left: 110px;
}
.navbar li a{
    padding: 9px 9px;
    text-decoration: none;
    color: black;
}
.search button{
    float: right;
    color: black;
    padding: 10px 55px;
    /* border: 2px solid black; */
    border-radius: 20px;
    /* background-color: #fff; */
    font-size: medium;
    cursor: pointer;
    border: none;
    background-color: #e2c054d9;
    /* margin-left: 70px; */
    /* margin: 0 45px; */
}
.search button{
    margin-left: 80px;
}
.img1{
    margin-left: 70px;
 margin-bottom: -80px;   
margin-top: -70px;
}